// Devices sizes

$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;
$bp-desktop-m: 1680px;
$bp-desktop-l: 1920px;
$bp-desktop-xl: 2560px;


//colors

$bg-dark:#2B2D38;
$white: #FFFFFF;
$pink: #DB2A6B;
$gray:#95969B;

$bg-blue:#95969B;
$bg-cyan:#60D3D9;
$bg-orange:#FF7E29;
$bg-yellow:#F4B840;

//font

$p-font:Poppins;
$s-font:Merriweather;


