@use "../abstracts/index" as *;

nav {
  margin-right: 1em;
  
  ul{
    gap: 0.4em;
    li a{
      position: relative;
      padding: 1.2em;
      color:$gray;
      font-size: 0.78em;
      font-weight: 300;

      &:hover{
        color: $white;
        
        
        &::before{
          content: "";
          background-color: $pink;
          position: absolute;
          left: 22%;
          bottom: 20%;
          width: 40%;
          height: 3px;
          border-radius: 15px;

          
          
        }
      }
      &.active{
        color: $white;
        &::before{
          content: "";
          background-color: $pink;
          position: absolute;
          left: 22%;
          bottom: 20%;
          width: 40%;
          height: 3px;
          border-radius: 15px;
        }
      }
    }

  }

}
